#--------------------------#
# Magento Default Files    #
#--------------------------#

/PATCH_*.sh

/app/etc/local.xml

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

Corona Statistic Bavaria/for_redistribution_files_only/*
Corona Statistic Bavaria/for_testing/*
Corona Statistic Bavaria/PackagingLog.html
Corona Statistic Bavaria_resources/icon.ico
Corona Statistic Bavaria_resources/icon_16.png
Corona Statistic Bavaria_resources/icon_24.png
Corona Statistic Bavaria_resources/icon_32.png
Corona Statistic Bavaria_resources/icon_48.png
